<!-- src/app/app.component.html -->
<h1 style="color: #333;">Nuevo</h1>



  <div style="margin-bottom: 15px;">
    <label for="codigo" style="display: block; margin-bottom: 5px;">Código:</label>
    <input type="number" id="codigo" [(ngModel)]="art.codigo" style="width: 40%; padding: 10px; box-sizing: border-box; border: 1px solid #ccc; border-radius: 5px;" />
  </div>

  <div style="margin-bottom: 15px;">
    <label for="descripcion" style="display: block; margin-bottom: 5px;">Descripción:</label>
    <input type="text" id="descripcion" [(ngModel)]="art.descripcion" style="width: 40%; padding: 10px; box-sizing: border-box; border: 1px solid #ccc; border-radius: 5px;" />
  </div>

  <div style="margin-bottom: 15px;">
    <label for="precio" style="display: block; margin-bottom: 5px;">Precio:</label>
    <input type="number" id="precio" [(ngModel)]="art.precio" style="width: 40%; padding: 10px; box-sizing: border-box; border: 1px solid #ccc; border-radius: 5px;" />
  </div>

  <div >
    <button type="button" (click)="agregar()" style="background-color: #007bff; color: #fff; border: none; padding: 10px 20px; cursor: pointer; border-radius: 5px;">Agregar</button>
    &nbsp; <!-- Agrega espacio aquí -->

    <button type="button" (click)="borrar(art)" style="background-color: #dc3545; color: #fff; border: none; padding: 10px 20px; cursor: pointer; border-radius: 5px;">Eliminar</button>
    &nbsp; <!-- Agrega espacio aquí -->

    <button type="button" (click)="seleccionar(art)" style="background-color: #ffc107; color: #333; border: none; padding: 10px 20px; cursor: pointer; border-radius: 5px;">Seleccionar</button>
  </div>



<h1 style="color: #333;">Listado de Productos</h1>
<table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
  <thead>
    <tr class="text-center" style="background-color: #f2f2f2;">
      <th class="text-center" style="padding: 10px; border: 1px solid #ddd;">Código</th>
      <th class="text-center" style="padding: 10px; border: 1px solid #ddd;">Descripción</th>
      <th class="text-center" style="padding: 10px; border: 1px solid #ddd;">Precio</th>
      <th  style="padding: 10px; border: 1px solid #ddd;">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of articulos" style="border: 1px solid #ddd;">
      <td style="padding: 10px; text-align: center;">{{ producto.codigo }}</td>
<td style="padding: 10px; text-align: center;">{{ producto.descripcion }}</td>
<td style="padding: 10px; text-align: center;">{{ producto.precio }}</td>
<td style="padding: 10px; text-align: center;">
  <button style="background-color: #dc3545; color: #fff; border: none; padding: 5px 10px; cursor: pointer;" (click)="borrar(producto)">Eliminar</button>
  &nbsp; <!-- Agrega espacio aquí -->
  <button style="background-color: #ffc107; color: #333; border: none; padding: 5px 10px; cursor: pointer;" (click)="seleccionar(producto)">Seleccionar</button>
</td>
    </tr>
  </tbody>
</table>

<ng-template #sinarticulos>
  <p>No hay artículos.</p>
</ng-template>